.navbar {
  display: flex;
  justify-items: center;
  align-items: flex-start;
  color: black;
  padding: 5px 15px;

  &__dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
  }
  &__logo {
    width: 50%;
    height: 50%;
  }
}
